.middle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.flex {
    display: flex;
}

.preview {
    text-decoration: none;
    color: darkorange;
    margin-left: 3rem;
    padding: .7rem;
    border: 1px solid darkorange;
    border-radius: 1rem;

}

a:hover {
    background-color: darkorange;
    color: white;
    border-color: darkorange;
    
}